In [50]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [51]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(columns = ['EIN'])
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [52]:
# Look at NAME counts for binning
counts1 = application_df['NAME'].value_counts()
counts1.head()

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
Name: NAME, dtype: int64

In [53]:
# Choose a cutoff value and create a list of names_replace to be replaced
# use the variable name names_replace
names_replace = list(counts1[counts1<5].index)
names_replace
# Replace in dataframe
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

In [54]:
# Check to make sure binning was successful
#application_df['NAME'].value_counts()

In [55]:
# Look at APPLICATION TYPE counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [56]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [57]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

In [58]:
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [59]:
# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [60]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [61]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

In [62]:
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [63]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [64]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
# drop 'IS SUCCESSFUL'
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [65]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [66]:
# Compile, Train and Evaluate the Model
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [67]:
# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 7)                 3171

 dense_7 (Dense)             (None, 14)                112

 dense_8 (Dense)             (None, 1)                 15

=================================================================
Total params: 3,298
Trainable params: 3,298
Non-trainable params: 0
_________________________________________________________________

In [68]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7370 - val_loss: 0.4681 - val_accuracy: 0.7841
Epoch 2/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4533 - accuracy: 0.7811 - val_loss: 0.4466 - val_accuracy: 0.7880
Epoch 3/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4393 - accuracy: 0.7854 - val_loss: 0.4385 - val_accuracy: 0.7891
Epoch 4/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4342 - accuracy: 0.7879 - val_loss: 0.4376 - val_accuracy: 0.7898
Epoch 5/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4322 - accuracy: 0.7894 - val_loss: 0.4377 - val_accuracy: 0.7940
Epoch 6/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4307 - accuracy: 0.7904 - val_loss: 0.4365 - val_accuracy: 0.7917
Epoch 7/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4299 - accuracy: 0.7906 - val_loss: 0.4362 - val_accuracy: 0.7927
Epoch 8/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4289 - accuracy: 0.7903 - val_loss: 0.4383 - val_accuracy: 0.7968
Epoch 9/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4283 - accuracy: 0.7920 - val_loss: 0.4378 - val_accuracy: 0.7955
Epoch 10/100
684/684 [==============================] - ETA: 0s - loss: 0.4284 - accuracy: 0.79 - 1s 1ms/step - loss: 0.4280 - accuracy: 0.7919 - val_loss: 0.4383 - val_accuracy: 0.7909
Epoch 11/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4268 - accuracy: 0.7915 - val_loss: 0.4388 - val_accuracy: 0.7948
Epoch 12/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4271 - accuracy: 0.7915 - val_loss: 0.4391 - val_accuracy: 0.7942
Epoch 13/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4266 - accuracy: 0.7923 - val_loss: 0.4388 - val_accuracy: 0.7914
Epoch 14/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4259 - accuracy: 0.7924 - val_loss: 0.4400 - val_accuracy: 0.7922
Epoch 15/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4254 - accuracy: 0.7937 - val_loss: 0.4391 - val_accuracy: 0.7935
Epoch 16/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4253 - accuracy: 0.7941 - val_loss: 0.4404 - val_accuracy: 0.7930
Epoch 17/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4248 - accuracy: 0.7944 - val_loss: 0.4424 - val_accuracy: 0.7893
Epoch 18/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4249 - accuracy: 0.7936 - val_loss: 0.4411 - val_accuracy: 0.7927
Epoch 19/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4244 - accuracy: 0.7941 - val_loss: 0.4421 - val_accuracy: 0.7932
Epoch 20/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4238 - accuracy: 0.7955 - val_loss: 0.4404 - val_accuracy: 0.7924
Epoch 21/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4227 - accuracy: 0.7953 - val_loss: 0.4390 - val_accuracy: 0.7963
Epoch 22/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4220 - accuracy: 0.7957 - val_loss: 0.4409 - val_accuracy: 0.7935
Epoch 23/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4221 - accuracy: 0.7957 - val_loss: 0.4399 - val_accuracy: 0.7950
Epoch 24/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4217 - accuracy: 0.7958 - val_loss: 0.4390 - val_accuracy: 0.7953
Epoch 25/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4210 - accuracy: 0.7966 - val_loss: 0.4386 - val_accuracy: 0.7963
Epoch 26/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4204 - accuracy: 0.7961 - val_loss: 0.4391 - val_accuracy: 0.7971
Epoch 27/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4199 - accuracy: 0.7979 - val_loss: 0.4384 - val_accuracy: 0.7953
Epoch 28/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4195 - accuracy: 0.7969 - val_loss: 0.4390 - val_accuracy: 0.7948
Epoch 29/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4191 - accuracy: 0.7980 - val_loss: 0.4395 - val_accuracy: 0.7950
Epoch 30/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4189 - accuracy: 0.7987 - val_loss: 0.4407 - val_accuracy: 0.7966
Epoch 31/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4190 - accuracy: 0.7973 - val_loss: 0.4405 - val_accuracy: 0.7961
Epoch 32/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4185 - accuracy: 0.7990 - val_loss: 0.4372 - val_accuracy: 0.7987
Epoch 33/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4178 - accuracy: 0.7988 - val_loss: 0.4382 - val_accuracy: 0.7971
Epoch 34/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4176 - accuracy: 0.7980 - val_loss: 0.4386 - val_accuracy: 0.7987
Epoch 35/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4174 - accuracy: 0.7993 - val_loss: 0.4391 - val_accuracy: 0.7971
Epoch 36/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4176 - accuracy: 0.7997 - val_loss: 0.4379 - val_accuracy: 0.7997
Epoch 37/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4168 - accuracy: 0.7999 - val_loss: 0.4407 - val_accuracy: 0.7966
Epoch 38/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4166 - accuracy: 0.7991 - val_loss: 0.4373 - val_accuracy: 0.7997
Epoch 39/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4165 - accuracy: 0.8000 - val_loss: 0.4385 - val_accuracy: 0.7999
Epoch 40/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4161 - accuracy: 0.7996 - val_loss: 0.4391 - val_accuracy: 0.7981
Epoch 41/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4161 - accuracy: 0.7995 - val_loss: 0.4396 - val_accuracy: 0.7987
Epoch 42/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4164 - accuracy: 0.7994 - val_loss: 0.4387 - val_accuracy: 0.7999
Epoch 43/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4158 - accuracy: 0.8005 - val_loss: 0.4383 - val_accuracy: 0.7984
Epoch 44/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4155 - accuracy: 0.8006 - val_loss: 0.4399 - val_accuracy: 0.8020
Epoch 45/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4155 - accuracy: 0.7996 - val_loss: 0.4371 - val_accuracy: 0.7994
Epoch 46/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4156 - accuracy: 0.8001 - val_loss: 0.4377 - val_accuracy: 0.7997
Epoch 47/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4153 - accuracy: 0.7998 - val_loss: 0.4397 - val_accuracy: 0.7987
Epoch 48/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4152 - accuracy: 0.8002 - val_loss: 0.4390 - val_accuracy: 0.7999
Epoch 49/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4149 - accuracy: 0.8003 - val_loss: 0.4404 - val_accuracy: 0.8023
Epoch 50/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4148 - accuracy: 0.8004 - val_loss: 0.4399 - val_accuracy: 0.7997
Epoch 51/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4148 - accuracy: 0.7995 - val_loss: 0.4409 - val_accuracy: 0.7981
Epoch 52/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4148 - accuracy: 0.7999 - val_loss: 0.4408 - val_accuracy: 0.7987
Epoch 53/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4145 - accuracy: 0.8009 - val_loss: 0.4424 - val_accuracy: 0.8002
Epoch 54/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4145 - accuracy: 0.8007 - val_loss: 0.4419 - val_accuracy: 0.8002
Epoch 55/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4145 - accuracy: 0.8003 - val_loss: 0.4409 - val_accuracy: 0.8007
Epoch 56/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4141 - accuracy: 0.8016 - val_loss: 0.4443 - val_accuracy: 0.8018
Epoch 57/100

684/684 [==============================] - 1s 1ms/step - loss: 0.4145 - accuracy: 0.8010 - val_loss: 0.4404 - val_accuracy: 0.8007
Epoch 58/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4140 - accuracy: 0.8001 - val_loss: 0.4391 - val_accuracy: 0.8012
Epoch 59/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4138 - accuracy: 0.8009 - val_loss: 0.4410 - val_accuracy: 0.7987
Epoch 60/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4136 - accuracy: 0.7999 - val_loss: 0.4431 - val_accuracy: 0.8020
Epoch 61/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4134 - accuracy: 0.8003 - val_loss: 0.4412 - val_accuracy: 0.8020
Epoch 62/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4135 - accuracy: 0.8006 - val_loss: 0.4412 - val_accuracy: 0.8010
Epoch 63/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4136 - accuracy: 0.8016 - val_loss: 0.4416 - val_accuracy: 0.8010
Epoch 64/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4128 - accuracy: 0.8026 - val_loss: 0.4431 - val_accuracy: 0.8002
Epoch 65/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4125 - accuracy: 0.8025 - val_loss: 0.4398 - val_accuracy: 0.8033
Epoch 66/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4115 - accuracy: 0.8029 - val_loss: 0.4393 - val_accuracy: 0.8012
Epoch 67/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4115 - accuracy: 0.8033 - val_loss: 0.4408 - val_accuracy: 0.8023
Epoch 68/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4112 - accuracy: 0.8027 - val_loss: 0.4413 - val_accuracy: 0.8031
Epoch 69/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4110 - accuracy: 0.8039 - val_loss: 0.4412 - val_accuracy: 0.8020
Epoch 70/100
684/684 [==============================] - ETA: 0s - loss: 0.4111 - accuracy: 0.80 - 1s 1ms/step - loss: 0.4103 - accuracy: 0.8047 - val_loss: 0.4418 - val_accuracy: 0.8036
Epoch 71/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4104 - accuracy: 0.8036 - val_loss: 0.4423 - val_accuracy: 0.8044
Epoch 72/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4104 - accuracy: 0.8041 - val_loss: 0.4415 - val_accuracy: 0.8031
Epoch 73/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4105 - accuracy: 0.8042 - val_loss: 0.4412 - val_accuracy: 0.8012
Epoch 74/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4102 - accuracy: 0.8048 - val_loss: 0.4414 - val_accuracy: 0.8033
Epoch 75/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4100 - accuracy: 0.8040 - val_loss: 0.4429 - val_accuracy: 0.8015
Epoch 76/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4104 - accuracy: 0.8044 - val_loss: 0.4429 - val_accuracy: 0.8025
Epoch 77/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4100 - accuracy: 0.8044 - val_loss: 0.4441 - val_accuracy: 0.8023
Epoch 78/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4101 - accuracy: 0.8044 - val_loss: 0.4418 - val_accuracy: 0.8036
Epoch 79/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4100 - accuracy: 0.8046 - val_loss: 0.4403 - val_accuracy: 0.8046
Epoch 80/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4100 - accuracy: 0.8049 - val_loss: 0.4436 - val_accuracy: 0.8028
Epoch 81/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4098 - accuracy: 0.8041 - val_loss: 0.4447 - val_accuracy: 0.8033
Epoch 82/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4097 - accuracy: 0.8042 - val_loss: 0.4449 - val_accuracy: 0.8044
Epoch 83/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4098 - accuracy: 0.8055 - val_loss: 0.4449 - val_accuracy: 0.8044
Epoch 84/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4096 - accuracy: 0.8049 - val_loss: 0.4426 - val_accuracy: 0.8044
Epoch 85/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4096 - accuracy: 0.8048 - val_loss: 0.4447 - val_accuracy: 0.8044
Epoch 86/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4097 - accuracy: 0.8048 - val_loss: 0.4460 - val_accuracy: 0.8025
Epoch 87/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4095 - accuracy: 0.8048 - val_loss: 0.4431 - val_accuracy: 0.8046
Epoch 88/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4095 - accuracy: 0.8044 - val_loss: 0.4461 - val_accuracy: 0.8041
Epoch 89/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4098 - accuracy: 0.8044 - val_loss: 0.4437 - val_accuracy: 0.8036
Epoch 90/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4091 - accuracy: 0.8042 - val_loss: 0.4460 - val_accuracy: 0.8049
Epoch 91/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4091 - accuracy: 0.8049 - val_loss: 0.4450 - val_accuracy: 0.8025
Epoch 92/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4090 - accuracy: 0.8046 - val_loss: 0.4469 - val_accuracy: 0.8033
Epoch 93/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4089 - accuracy: 0.8048 - val_loss: 0.4455 - val_accuracy: 0.8033
Epoch 94/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4092 - accuracy: 0.8053 - val_loss: 0.4470 - val_accuracy: 0.8033
Epoch 95/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4090 - accuracy: 0.8054 - val_loss: 0.4487 - val_accuracy: 0.8036
Epoch 96/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4089 - accuracy: 0.8052 - val_loss: 0.4478 - val_accuracy: 0.8031
Epoch 97/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4088 - accuracy: 0.8056 - val_loss: 0.4468 - val_accuracy: 0.8051
Epoch 98/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4088 - accuracy: 0.8054 - val_loss: 0.4485 - val_accuracy: 0.8041
Epoch 99/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4087 - accuracy: 0.8053 - val_loss: 0.4506 - val_accuracy: 0.8044
Epoch 100/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4086 - accuracy: 0.8050 - val_loss: 0.4483 - val_accuracy: 0.8036

In [69]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')
nn_imported=tf.keras.models.load_model('AlphabetSoupCharity_Optimization.h5')

In [70]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_imported.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4685 - accuracy: 0.7882 - 220ms/epoch - 819us/step
Loss: 0.4684959053993225, Accuracy: 0.7882215976715088